<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katie De Forest</title>
    <link rel="stylesheet" type="text/css" href="{{asset 'css/homepage.css'}}">
    <link rel="stylesheet" type="text/css" href="{{asset 'css/theme-switch.css'}}">
    <link rel="stylesheet" type="text/css" href="{{asset 'css/hamburger.css'}}">
    <link rel="stylesheet" type="text/css" href="{{asset 'css/header.css'}}">
</head>

<body>
        <header class="site-header">
            <div class="header-content">
                <div class="logo-container">
                    <a href="https://KatieDeForest.com" class="header-link">
                        <img src="{{asset 'images/catlogo.png'}}" alt="Logo" class="logo">
                        <h1>Katie De Forest</h1>
                    </a>
                </div>
            </div>
            <div class="hamburger-container">
                <div class="hamburger" id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <nav class="menu" id="menu">
                <div onclick="tdnn()" class="tdnn">
                    <div class="moon"></div>
                </div>
                <ul>
                    <li><a href="page1.html">Katie's Photography</a></li>
                    <li><a href="page2.html">The Meow Movement</a></li>
                    <li><a href="page3.html">T.TV/KatieDeForest</a></li>
                    <li><a href="page4.html">About Katie De Forest</a></li>
                </ul>
            </nav>
        </header>
        {{{body}}}
        <script type="text/javascript" src="{{asset 'js/hamburgermenu.js'}}" defer></script>
</body>

</html>