{{!< default}} <header class="site-header">
    <div class="header-content">
        <div class="logo-container">
            <a href="https://KatieDeForest.com" class="header-link">
                <img src="{{asset 'images/catlogo.png'}}" alt="Logo" class="logo">
                <h1>Katie De Forest</h1>
            </a>
        </div>
    </div>
    <div class="hamburger-container">
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav class="menu" id="menu">
        <div onclick="tdnn()" class="tdnn">
            <div class="moon"></div>
        </div>
        <ul>
            <li><a href="page1.html">Katie's Photography</a></li>
            <li><a href="page2.html">The Meow Movement</a></li>
            <li><a href="page3.html">T.TV/KatieDeForest</a></li>
            <li><a href="page4.html">About Katie De Forest</a></li>
        </ul>
    </nav>
    </header>
    <div class="image-container">
        <a href="photography">
            <img src="{{asset 'images/photographybanner.png'}}" alt="Katie's Photography" loading="lazy">
            <div class="overlay">
                <div class="line"></div>
                <span>Katie's Photography</span>
            </div>
        </a>
        <a href="page3.html">
            <video src="{{asset 'images/twitch.mp4'}}" autoplay loop muted playsinline></video>
            <div class="overlay">
                <div class="line"></div>
                <span>T.TV/KatieDeForest</span>
            </div>
        </a>
        <a href="discord">
            <img src="{{asset 'images/tmmbanner.png'}}" alt="The Meow Movement" loading="lazy">
            <div class="overlay">
                <div class="line"></div>
                <span>The Meow Movement</span>
            </div>
        </a>
        <a href="page4.html">
            <img src="{{asset 'images/cutecat.jpg'}}" alt="About Katie De Forest" loading="lazy">
            <div class="overlay">
                <div class="line"></div>
                <span>About Katie De Forest</span>
            </div>
        </a>
    </div>

    <script type="text/javascript" src="{{asset 'js/hamburgermenu.js'}}" defer></script>