{{!< default}} <link rel="stylesheet" type="text/css" href="{{asset 'css/homepage.css'}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <header class="site-header">
        <div class="header-content">
            <div class="logo-container">
                <a href="https://KatieDeForest.com" class="header-link">
                    <img src="{{asset 'images/catlogo.png'}}" alt="Logo" class="logo">
                    <h1>Katie De Forest</h1>
                </a>
            </div>
        </div>
    </header>
    <div class="image-container">
        <a href="photography">
            <img src="{{asset 'images/photographybanner.png'}}" alt="Katie's Photography" loading="lazy">
            <div class="overlay">
                <div class="line"></div>
                <span>Katie's Photography</span>
            </div>
        </a>
        <a href="page3.html">
            <video src="{{asset 'images/twitch.mp4'}}" autoplay loop muted playsinline alt="Twitch Channel"></video>
            <div class="overlay">
                <div class="line"></div>
                <span>T.TV/KatieDeForest</span>
            </div>
        </a>
        <a href="discord">
            <img src="{{asset 'images/tmmbanner.png'}}" alt="The Meow Movement" loading="lazy">
            <div class="overlay">
                <div class="line"></div>
                <span>The Meow Movement</span>
            </div>
        </a>
        <a href="page4.html">
            <img src="{{asset 'images/cutecat.jpg'}}" alt="About Katie De Forest" loading="lazy">
            <div class="overlay">
                <div class="line"></div>
                <span>About Katie De Forest</span>
            </div>
        </a>
    </div>