{{!< default}} <head>
    <link rel="stylesheet" type="text/css" href="{{asset 'css/pg-gallery.css'}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <header class="photography-header">
        <div class="header-content">
            <div class="logo-container">
                <a href="https://KatieDeForest.com" class="header-link">
                    <img src="{{asset 'images/catlogo.png'}}" alt="Logo" class="logo">
                    <h1>Katie's Photography</h1>
                </a>
            </div>
            <nav class="photography-menu">
                <ul>
                    <li><a href="/photography/" id="btn" class="start-btn">Start</a></li>
                    <li><a href="." id="gallery-btn" class="gallery-btn">Gallery</a></li>
                    <li><a href="/photography/pg-services" id="btn" class="services-btn">Services</a></li>
                    <li><a href="/photography/pg-contact" id="btn" class="contact-btn">Contact</a></li>
                    <li><a href="/photography/pg-about" id="btn" class="about-btn">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="gallery-grid">
        <div class="gallery-item">
            <a href="/photography/cg-nature" class="thumbnail" style="background-image: url('{{asset "images/image1.jpg"}}');"></a>
            <div class="folder-name">Nature</div>
        </div>
        <div class="gallery-item">
            <a href="/photography/cg-urban" class="thumbnail" style="background-image: url('{{asset "images/image1.jpg"}}');"></a>
            <div class="folder-name">Urban</div>
        </div>
        <div class="gallery-item">
            <a href="/photography/cg-portraits" class="thumbnail" style="background-image: url('{{asset "images/image1.jpg"}}');"></a>
            <div class="folder-name">Portraits</div>
        </div>
    </div>