{{!< default}} <head>
    <link rel="stylesheet" type="text/css" href="{{asset 'css/photography.css'}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <header class="photography-header">
        <div class="header-content">
            <div class="logo-container">
                <a href="https://KatieDeForest.com" class="header-link">
                    <img src="{{asset 'images/catlogo.png'}}" alt="Logo" class="logo">
                    <h1>Katie's Photography</h1>
                </a>
            </div>
            <nav class="photography-menu">
                <ul>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="image-container">
        <div class="slideshow">
            <div class="slide active" data-order="1">
                <img src="{{asset 'images/image1.jpg'}}" loading="lazy">
            </div>
            <div class="slide" data-order="2">
                <img src="{{asset 'images/image2.jpg'}}" loading="lazy">
            </div>
            <div class="slide" data-order="3">
                <img src="{{asset 'images/image3.jpg'}}" loading="lazy">
            </div>
            <div class="slide" data-order="4">
                <img src="{{asset 'images/image4.jpg'}}" loading="lazy">
            </div>
        </div>
        <div class="slider-nav">
            <span class="nav-line active" data-slide="0"></span>
            <span class="nav-line" data-slide="1"></span>
            <span class="nav-line" data-slide="2"></span>
            <span class="nav-line" data-slide="3"></span>
        </div>
        {{!-- <div class="description-overlay">Detail-focused photography<br>that brings out the beauty in every moment
        </div> --}}
    </div>
    <div class="text-block">
        <span class="katie">© Katie De Forest</span>
        <span class="navigation">Arrow keys to navigate</span>
    </div>
    <div class="arrow-container">
        <div class="arrow left-arrow" onclick="previousSlide()">&#10094;</div>
        <div class="arrow right-arrow" onclick="nextSlide()">&#10095;</div>
    </div>

    <script type="module" src="{{asset 'js/slider.js'}}"></script>